<%= form_for(@quote) do |f| %>
    <script>
        function update_price() {

            var newPrice = document.getElementById("quote_vehicle_id").value;
            jQuery.ajax({
                url: "/update_price",
                type: "GET",
                data: {"vehicle_id" : newPrice},
                dataType: "html",
                success: function(data) {
                    jQuery("#quote_price").html(data);
                    update_tT();
                }
            });
        }</script>
    <script>
      function update_tT() {

          console.log("update_tt")
          var newPrice = parseFloat(document.getElementById("quote_price").value);
          var newTax = (newPrice * .043);

          console.log(newPrice);
          console.log(newTax);

          document.getElementById("quote_tax").value = newTax;
          document.getElementById("quote_total").value = (newTax + newPrice);
      }
    </script>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :customer_id %><br>
    <%= f.collection_select :customer_id, Customer.all, :id, :name, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :vehicle_id %><br>
    <%= f.collection_select(:vehicle_id, Vehicle.all, :id, :vin, {:prompt => true}, {:onchange => "update_price(this.value)", :onload => "update_price(this.value)"}) %>
  </div>
  <div class="field">
    <%= f.label :employee_id %><br>
    <%= f.collection_select :employee_id, Employee.all, :id, :name, prompt: true %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :tax %><br>
    <%= f.text_field :tax %>
  </div>
  <div class="field">
    <%= f.label :total %><br>
    <%= f.text_field :total %>
  </div>
  <div class="field">
    <%= f.label :sold %><br>
    <%= f.check_box :sold %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>

    <div id="versionsDiv">
    </div>

    <br>
    <br>
    <%= render 'finance_table' %>
<% end %>
