<p id="notice"><%= notice %></p>

<h1>Star Quotes</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Customer</th>
      <th>Vehicle</th>
      <th>Employee</th>
      <th>Price</th>
      <th>Tax</th>
      <th>Total</th>
      <th>Sold</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @quotes.each do |quote| %>
      <tr>
        <td><%= quote.customer.name %></td>
        <td><%= quote.vehicle.model %></td>
        <td><%= quote.employee.name %></td>
        <td><%= number_to_currency(quote.price) %></td>
        <td><%= number_to_currency(quote.tax) %></td>
        <td><%= number_to_currency(quote.total) %></td>
        <td><%= quote.show_sold %></td>
        <td class="btn btn-success"><%= link_to 'Show', quote %></td>
        <td class="btn btn-warning"><%= link_to 'Edit', edit_quote_path(quote) %></td>
        <td class="btn btn-danger"><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Quote', new_quote_path %>

<br>
<br>

<h3>Dealership Financial Report</h3>
<table>
  <thead>
  <tr>
    <th>Gross Revenue</th>
    <th>Net Profit</th>
    <th>Sales Tax</th>
  </tr>
  </thead>
  <tbody>
  <%# @quotes.each do |q| %>
  <tr>
    <td><%= number_to_currency(@quotes.gross_revenue) %></td>
    <td><%= number_to_currency(@quotes.net_profit) %></td>
    <td><%= number_to_currency(@quotes.total_sales) %></td>
  </tr>
  <%# end %>
  </tbody>
</table>
