<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @quote.customer.name %>
</p>

<p>
  <strong>Vehicle:</strong>
  <%= @quote.vehicle.model %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @quote.employee.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= number_to_currency(@quote.price) %>
</p>

<p>
  <strong>Tax:</strong>
  <%= number_to_currency(@quote.tax) %>
</p>

<p>
  <strong>Total:</strong>
  <%= number_to_currency(@quote.total) %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @quote.show_sold %>
</p>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
