<table class="table table-striped table-hover">
  <tr>
    <th>Vin</th>
    <th>Make</th>
    <th>Model</th>
    <th>Total</th>
    <th>Link</th>
  </tr>

  <% @employee.quotes.each do |q| %>
      <tr>
        <td><%= q.vehicle.vin %></td>
        <td><%= q.vehicle.make %></td>
        <td><%= q.vehicle.model %></td>
        <td><%= number_to_currency(q.total) %></td>
        <td><%= link_to 'View', q %></td>
      </tr>
  <% end %>
</table>