<p id="notice"><%= notice %></p>

<h1>Sith Employees</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= number_to_phone(employee.phone) %></td>
        <td><%= employee.email %></td>
        <td><%= employee.position.title %></td>
        <td class="btn btn-success"><%= link_to 'Show', employee %></td>
        <td class="btn btn-warning"><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td class="btn btn-danger"><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
