<p id="notice"><%= notice %></p>

<h1>Jedi Customers</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Email</th>
      <th>Credit score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.name %></td>
        <td><%= number_to_phone(customer.phone) %></td>
        <td><%= customer.email %></td>
        <td><%= customer.credit_score %></td>
        <td class="btn btn-success"><%= link_to 'Show', customer %></td>
        <td class="btn btn-warning"><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td class="btn btn-danger"><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customer', new_customer_path %>
