<p id="notice"><%= notice %></p>

<h1>War Vehicles</h1>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Style</th>
      <th>Msrp</th>
      <th>Vin</th>
      <th>Available</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.make %></td>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.style %></td>
        <td><%= number_to_currency(vehicle.msrp) %></td>
        <td><%= vehicle.vin %></td>
        <td><%= vehicle.show_available %></td>
        <td class="btn btn-success"><%= link_to 'Show', vehicle %></td>
        <td class="btn btn-warning"><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
        <td class="btn btn-danger"><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle', new_vehicle_path %>
